<div class="container">
  <div class="row">
    <div class="col-8-offset-2">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">TAREAS</h3>
          <div class="card-body text-center" >
            <input #newNote class="form-control ml-2 p-2 ">
            <button (click)="addNotes(newNote.value)" class="btn btn-success float-end ">AGREGAR Nota</button> <br/>
            <h4 *ngFor="let note of notes">
            --> {{ note.description }} &nbsp;&nbsp; <button (click)="deleteNotes(note.id)" class="btn btn-danger">Eliminar Nota</button>
            </h4>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
